.App {
  min-height: 100vh;
    display: flex;
    font-size: calc(10px + 2vmin);
    padding: 2rem;
}

section {
  padding: 1rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
button {
  margin: 0.25rem;
}

input {
  display: block;
  margin: 0.25rem
}

span {
  margin-left: 1rem;
}

.Items {
  flex: 2 1 auto;
}
.Items-List {
  height: 75vh;
  overflow: scroll;
}
.Cart {
  flex: 1 1 auto;
}

.Item {
  font-size: medium;
  border: 1px #ccc;
  border-radius: 5px;
  background: #ccc;
  padding: 0.25rem;
  margin: 0.25rem;
}
.Filter-button--selected {
  background: dodgerblue;
  color: white;
  font-weight: 900;
}